body {
    background-image: url(../IMG/background.png);
    background-size: fill;
  }

  #frame {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    width: 100%;
  }
  
  #sun {
    position: absolute;
    top:  0;
    right: 0;
    width: 600px;
    height: 800px;
  }
  
#house {
    position: absolute;
    top: 450px;
    left: 250px;
    }


#btn_food {
    position: absolute;
    left: 1450px;
    top: 600px;
    z-index: 3;
    }

#food_icon {
    position: absolute;
    top: 50px;
    left: 1070px;
}

#food_container {
    position: absolute;
    left: 1010px;
    top: 130px;
    }

#btn_water {
    position: absolute;
    left: 1450px;
    top: 800px;
    z-index: 3;
    }

#water_icon {
    position: absolute;
    top: 50px;
    left: 800px;
}

#water_container {
    position: absolute;
    left: 730px;
    top: 130px;
    }

meter {
    width: 200px;
    height: 50px;
}

#pet {
    position: absolute;
    left: 775px;
    top: 550px;
}

#tearW {
    position: absolute;
    top: 645px;
    left: 960px;
    z-index: 5;
}

#angryW {
    position: absolute;
    top: 590px;
    left: 970px;
    z-index: 5;
}

#tearH {
    position: absolute;
    top: 640px;
    left: 905px;
    z-index: 5;
}

#angryH {
    position: absolute;
    top: 590px;
    left: 950px;
    z-index: 5;
}
